<div class="container">
  <div class="row">
    <div class="col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <div class="social" style="display: inline-block;"><i class="fas fa-book"></i></div><strong>Bookers</strong> !!</h1>
      <p style="display: block;">In <div class="social" style="display: inline-block;"><i class="fas fa-book"></i></div><strong>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="row">
        <p><%= link_to "Log in" , new_user_session_path, class: "btn btn-secondary" %></p>
        <p><%= link_to "Sign Up" , new_user_registration_path, class: "btn btn-secondary" %></p>
      </div>
    </div>
  </div>
</div>